<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-0">
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light border-bottom shadow-sm">
            <div class="container justify-content-center ">
                <ul class="navbar-nav nav-fill">
                    <li class="nav-item px-5 border-end">
                        <a class="nav-link navbar-brand" href="/Cards/Index">Card files</a>
                    </li>
                    <li class="nav-item px-5 border-end">
                        <a class="nav-link" href="/Author/Details">Profile</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item px-5 border-end">
                            <a class="nav-link" href="/Author/Login">Login</a>
                        </li>
                    }
                    else
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item px-5 border-end">
                                <a class="nav-link" href="/Admin/Index">Administration</a>
                            </li>
                        }

                        <li class="nav-item px-5 ">
                            <a class="nav-link" href="/Author/Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="body-content p-3 border" style="background-color: whitesmoke">
        @RenderBody()
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
