@model IEnumerable<CardFile.Web.Models.UserInfoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrtion</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RolesStr)
    </td>
    @using (Html.BeginForm("GiveRoleToUser", "Admin"))
    {
        @Html.HiddenFor(modelItem => item.Username, new { Name = "username" })
        <td>
            @Html.DropDownListFor(modelItem => item.Roles, new SelectList(ViewBag.AllRoles), "Give user role", new { @class = "form-select", Name = "role", onchange = @"form.submit();" })
        </td>
    }

    @using (Html.BeginForm("RemoveUserFromRole", "Admin"))
    {
        @Html.HiddenFor(modelItem => item.Username, new { Name = "username" })
        <td>
            @Html.DropDownListFor(modelItem => item.Roles, new SelectList(item.Roles), "Remove user role", new { @class = "form-select", Name = "role", onchange = @"form.submit();" })
        </td>
    }

    <td>
        <a href="/Author/AuthorProfile?username=@item.Username" class="btn btn-outline-dark">Profile</a>
    </td>
    <td>
        <a href="/Admin/BanUser?username=@item.Username" class="btn btn-outline-danger">Ban</a>
    </td>
</tr>
}

</table>
