@using CardFile.Web.Helpers
@using CardFile.Web.Models
@*@model CardFile.Web.Models.IndexViewModel<CardFile.Web.Models.CardViewModel>*@
@model PageCardsFiltrationViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm("Filter", "Cards", FormMethod.Post, new { @class = "form-control pt-3", style = "height: 70px;" }))
    {
        <div class="ml-4 d-flex flex-row m-auto">
            @Html.DropDownList("SearchBy", new SelectList(new string[] { "Title", "Date", "In-text phrase" }), "Search by", new { @class = "form-select col-2 ml-4" })

            @Html.TextBox("SearchString", "", new { @class = "ml-2 col-2 form-control", @placeholder = "Write your search word" })

            @Html.DropDownList("SortType", new SelectList(new string[] { "Date", "Title", "Like" }), "Sort by", new { @class = "form-select col-2 ml-5" })

            @Html.DropDownList("SortOrder", new SelectList(new string[] { "Ascending", "Descending" }), "Sort order", new { @class = "form-select col-2 ml-2" })

            <input type="submit" value="Search" class="ml-3 btn btn-outline-dark" />

            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Cards/Create" class="ml-3 btn btn-outline-success">Create new Card</a>
            }
        </div>
    }

    @{
        IndexViewModel<CardViewModel> cards = ViewData["IVM"] as IndexViewModel<CardViewModel>;
    }
    <div class="mt-5">
        @*@MyHelpers.PrintCards(Model.PageObjects)*@
        @MyHelpers.PrintCards(cards.PageObjects)
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="btn-group  m-auto">
            @Html.PageLinks(cards.PageInfo, x => Url.Action("Index", new { page = x }))
        </div>
    </div>
</div>